html{
    font-family: "Berlin Sans", "Century Gothic", sans-serif;
    background-image: url(../images/bats.gif);
}
h1{
    font-size: 175%;
    padding-top: 0;
    margin: .5em 0;
}
h2::first-letter{
    font-size: 250%;
}
body{
    max-width: 960px;
    border-style: solid;
    border-width: .2em;
    border-color: black;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 0em; /* allows the header/footer backgrounds to extend to sides*/
    padding-top: 0em;
    background-color: white;
    box-shadow: 0px 0px 10px #000;
    top: 0;
}
header{
    text-indent: 2em;
    border-bottom-style: solid;
    border-width: .1em;
    background: orange;
    background: linear-gradient(45deg, white, orange, darkorange, black);
    height: 100px;
    padding-top: .4em;
    padding-bottom: .5em;
}
footer{
    font-size: 50%;
    text-align: center;
    border-top-style: solid;
    border-width: 1px;
    background: orange;
    background: linear-gradient(45deg, black, darkorange, orange, white);
    clear: both; /* this clears the floats */
    padding-bottom: .1em;
}
#pumpkin{
    width: 10%;
    min-width: 40px;
    height: auto;
}
#cat{
    width: 25%;
    height: auto;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
nav li{
    float: left;
    width: 20%;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: .5em 1em;
    text-decoration: none;
}
nav li a:hover{
    color: white;
    background-color: gray;
}
.active{
    color: orange;
}
aside{
    float: left;
    width: 20%;
}
aside ul{
    list-style-type: none;
    margin: 0;
    padding-top: 1em;
    padding-left: .5em;
}
aside li{
    margin: .2em;
    border: 3px solid black;
    
}
aside li a{
    display: block;
    color: black;
    text-align: left;
    padding: .1em .7em;
    text-decoration: none;
    background-color: orange;
    border: 2px;
}
article{
    float: right;
    padding-left: 1em;
    width: 75%;
}
a{
    color: orange;
}
a:hover{
    color: green;
}
a:focus{
    color: green;
}
.floatImage{
    margin: 1em 0 0 1em;
    float: left;
}
.makeOrange{
    color:  orange;
}
.changeStyle{
    text-shadow: 2px 2px black;
    font-style: italic;
}
@media only screen and (max-width: 800px){
    html{
        background-image: none;
        font-size: 90%;
    }
    body{
        box-shadow: none;
    }
}
@media only screen and (max-width: 767px){
    article{
        float: none;
        clear: right;
        width: 90%;
        padding: 0 2em;
    }
    aside{
        float: none;
        clear: both;
        padding: 0 30%;
        width: 35%;
    }
}